<div class="">
    <div class=" margin-5">
        <ul class="list-inline">
            <li>
                <select class="form-control" ng-model="language" ng-init="language='CSharp'" ng-change="postConvert()">
                    <option value="CSharp">C#</option>
                    <option value="VbNet">VB.NET</option>
                </select>
            </li>
            <li>
                <div class="btn btn-primary" ng-click="postRun()">
                    Run
                </div>
            </li>
            <li>
                <div class="btn btn-primary" ng-click="postFormat()">
                    Format
                </div>
            </li>

        </ul>
    </div>
    <div>
        <div id="consoleEditor" ng-model="code" />
    </div>
    <div>
        <div class="bar"><span>Output</span></div>
        <textarea id="consoleOutput" ng-model="output" readonly="readonly" ng-init="getCode()"></textarea>
        <input type="hidden" ng-model="id" ng-init="getGUID()" />
    </div>
</div>