
.ui-layout-center {
    padding: 0;
}

.ui-layout-center > .wrapper {
    padding: 10px;
}

.ui-layout-pane {
    border-width: 0;
}

.ui-layout-west {
    margin-bottom: 10px;
}

.CodeMirror {
    height: 100% !important;
}

.ui-layout-north {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-bottom-width: 1px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.ui-layout-south {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-top-width: 1px;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    text-align: right;
}

.ui-layout-resizer-west {
    border-width: 0 1px;
}

.ui-layout-toggler-west {
    border-width: 0;
}

#result {
    padding: 10px;
}

.rightpadded {
    float: right;
    padding-right: 6px;
}

#help {
    padding-left: 15px;
}

a, a:visited, a:hover, a:active {
    color: #0000ff;
}