<h2>OpenFiddle Console</h2>

<div class="row margin-top-5">
    <div class="col-md-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Console Input" ng-model="code" />
            <div class="btn btn-primary icon-camera input-group-addon" ng-click="postItem()">
                Run
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Console Output" ng-model="output" readonly="readonly" />
    </div>
</div>