@model csfiddle.Controllers.ViewModels.CodeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Editor = true;
}
<div class="ui-layout-north">
    <button id="new">New</button>
    <button id="run">Run</button>
    <button id="save">Run and Save</button>
    <span class="rightpadded">
        <a href="/Help"> @*For some reason Url.Action() here causes a stack overflow in System.Web.Mvc...*@
            <img src="~/Content/Images/help.jpg" alt="Help" />
        </a>
    </span>
</div>
<div class="ui-layout-west">
    <form>
        <input type="hidden" id="id" name="id" value="@Model.Id" />
        <textarea id="InputCode" name="InputCode">@Model.InputCode</textarea>
    </form>
</div>
<div class="ui-layout-center">
    <div id="result">@Html.Raw(Model.Result)</div>
</div>